# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\科研\pythonProject1\mysite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
